<html>

<h1> {{username.username}} </h1>

<h3> <a href= "/add_rating" > CREATE Rating Entry </a> </h3>
<h3> <a href= "/user_movie" > YOUR WATCHLIST AND WISHLIST </a> </h3>


<div class= "">
    <h3>My Rating Entries: </h3>
    <table class= "">
        <tr>
            <th>Movie: </th>
            <th>Rating Given: </th>
            <th>Review Given</th>
            {{!-- <th>Options</th> --}}
        </tr>
        <tr class="">
            {{#each rating_entry}}
            <tr>
                <td>{{movie_title}}</td>
                <td>{{rating_given}}</td>
                <td>{{review_given}}</td>
                {{!-- <td><button onclick="delete_rating({{ratingID}})">Delete</button><a class="update-button"href="/rating/{{ratingID}}">Update</a></td> --}}
                {{!-- <td></td> --}}
            </tr>
            {{/each}}
        </tr>
    </table>

</div>


</html>